<!DOCTYPE html>
<html>
<head><title>Home</title></head>
<body>
    <h1>Dashboard</h1>
    <h1>Welcome, <%= username %>!</h1>
    <a href="/logout">Logout</a>
    <a href="/payment">Go to Payment</a>
</body>
</html>

